@model SV20T1080033.Web.Models.PaginationSearchShipper;
@{
	ViewBag.Title = " Danh sách người giao hàng";
}

<div class="box box-primary">
    <div class="box-body">
        <form action="~/Admin/Shipper" method="get">
            <div class="input-group">
                <input type="text" name="searchValue" class="form-control" placeholder="Nhập tên nhà cung cấp cần tim.." spellcheck="false" data-ms-editor="true" value="@Model.SearchValue">
                <span class="input-group-btn">
                    <button type="submit" name="search" id="search-btn" class="btn btn-flat">
                        <i class="fa fa-search"></i>
                    </button>
                    <a href="~/Admin/Shipper/Create" class="btn btn-xs btn-primary">
                        <i class="fa fa-plus"></i> Bổ sung
                    </a>
                </span>
            </div>
        </form>
        @* danh sach nhà cung cấp *@
        <p style="margin:10px 0 10px 0">
            Có <strong> @Model.RowCount </strong>Shipper, Hiện đang ở trang <strong>@Model.Page</strong> trên tổng số <strong>@Model.PageCount</strong>
        </p>
        <div class="table-responsive">
            <table class="table table-borderd table-hover">
                <thead class="btn-primary">
                    <tr>
                        <th>Tên người giao hàng </th>
                        <th>Số điện thoại </th>
                       

                        <th style="width:150px">
                        </th>
                    </tr>


                </thead>
                <tbody>
                    @foreach (var item in Model.Data)
                    {
                        <tr>

                            <td>@item.ShipperName</td>
                            <td>@item.Phone</td>
                            


                            <td>
                                <a href="~/admin/Shipper/Edit/@item.ShipperID" class="btn btn-xs btn-info">
                                    <i class="fa fa-edit"></i>
                                </a>
                                <a href="~/Admin/Shipper/ChangePass/123" class="btn btn-xs btn-warning">
                                    <i class="fa fa-remove"></i>
                                </a>
                                <a href="~/Admin/Shipper/Delete/@item.ShipperID" class="btn btn-xs btn-danger">
                                    <i class="fa fa-remove"></i>
                                </a>

                            </td>
                        </tr>
                    }

                </tbody>
            </table>

        </div>
        <div class="box-footer text-center">
            <ul class="pagination">
                @if (Model.Page != 1)
                {
                    int pageNumber = Model.Page - 1;
                    <li class="paginate_button">
                        <a href="~/admin/Shipper/Index/?page=1&searchValue=@Model.SearchValue">First Page</a>
                    </li>
                    <li class="paginate_button" id="example2_previous">
                        <a href="~/admin/Shipper/Index/?page=@pageNumber&searchValue=@Model.SearchValue">Previous</a>
                    </li>
                }
                @{
                    int _pageNext = Model.PageCount;
                    int _pagePrev = 1;
                    if (Model.PageCount >= 5)
                    {
                        _pageNext = Model.Page + 2;
                        _pagePrev = Model.Page - 2;
                        if (_pageNext > Model.PageCount)
                        {
                            _pagePrev -= _pageNext - Model.PageCount;
                            _pageNext = Model.PageCount;
                        }
                        else if (_pagePrev <= 0)
                        {
                            _pageNext -= _pagePrev - 1;
                            _pagePrev = 1;
                        }
                    }
                    for (int i = _pagePrev; i <= _pageNext; i++)
                    {
                        if (Model.Page == i)
                        {
                            <li class="paginate_button active">
                                <a href="#">@i</a>
                            </li>
                        }
                        else
                        {
                            <li class="paginate_button">
                                <a href="~/admin/Shipper/Index/?page=@i&searchValue=@Model.SearchValue">@i</a>
                            </li>
                        }
                    }
                }
                @if (Model.Page != Model.PageCount && Model.PageCount != 1)
                {
                    int pageNumber = Model.Page + 1;
                    <li class="paginate_button next" id="example2_next">
                        <a href="~/admin/Shipper/Index/?page=@pageNumber&searchValue=@Model.SearchValue">Next</a>
                    </li>
                    <li class="paginate_button next">
                        <a href="~/admin/Shipper/Index/?page=@Model.PageCount&searchValue=@Model.SearchValue">Last Page</a>
                    </li>
                }
            </ul>
        </div>
    </div>
</div>

