@using SV20T1080033.Web;
@using SV20T1080033.Web.AppCodes;
@model SV20T1080033.Web.Models.PaginationSearchInput
@{
	ViewBag.Title = "Lập đơn hàng";
}

<div class="box box-primary">
	<div class="box-body">

		<!-- Tìm kiếm, hiển thị và chọn hàng đưa vào giỏ -->
		<div class="col-md-4">
			<h4>Lựa chọn hàng cần bán</h4>
			<form id="formSearchProduct" action="~/Admin/Order/SearchProduct" method="post">
				<div class="input-group">
					<input type="text" name="searchValue"
						   class="form-control"
						   placeholder="Nhập tên mặt hàng cần tìm"
						   spellcheck="false" data-ms-editor="true" value="@Model.SearchValue">
					<span class="input-group-btn">
						<button type="submit" class="btn btn-flat btn-info">
							<i class="fa fa-search"></i>
						</button>
					</span>
				</div>
			</form>

			<div id="searchResult">
				<!-- Danh sách mặt hàng tìm được-->
			</div>
		</div>

		<div class="col-md-8">
			<!-- Giỏ hàng -->
			<h4>Danh sách mặt hàng đã chọn</h4>
			<div id="cartContent"></div>
			<div class="text-right">
				<a href="javascript:;" class="btn btn-sm btn-danger" onclick="clearCart()">
					<i class="fa fa-trash"></i> Xóa giỏ hàng
				</a>
			</div>

			<!-- Nhập khách hàng, nhân viên phụ trách và khởi tạo đơn hàng -->
			<form action="~/Admin/Order/Init" method="post">
				<h4>Nhập thông tin về khách hàng và nhân viên phụ trách đơn hàng</h4>
				<div class="form-group">
					<label class="control-label col-sm-2">Nhân viên:</label>
					<div class="col-sm-10">
						@Html.DropDownListFor(m => m.employeeID, SelectListHelper.employees(), new { @class="form-control"})
						@Html.ValidationMessageFor(m => m.employeeID,"", new {@style="color:#f00"})

					</div>
				</div>

				<div class="form-group">
					<label class="control-label col-sm-2">Giao hàng:</label>
					<div class="col-sm-10">
						@Html.DropDownListFor(m => m.shipperID, SelectListHelper.Shippers(), new { @class="form-control"})
						@Html.ValidationMessageFor(m => m.shipperID,"", new {@style="color:#f00"})

					</div>
				</div>
				<div class="form-group">
					<label class="control-label col-sm-2">Khách hàng:</label>
					<div class="col-sm-10">
						@Html.DropDownListFor(m => m.customerID, SelectListHelper.customers(), new { @class="form-control"})
						@Html.ValidationMessageFor(m => m.customerID,"", new {@style="color:#f00"})

					</div>
				</div>


				<div class="form-group" style="margin-top:10px">
					
					<div class="col-md-12 text-right">
						<button type="submit" class="btn btn-sm btn-primary">Lập đơn hàng</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>


@section Scripts {
	<script>
		$(document).ready(function () {
			//Khi submit form search thì tìm kiếm từ trang 1
			$("#formSearchProduct").submit(function (e) {
				e.preventDefault();
				doSearch(1);
				return;
			});
			//Khi trang nạp xong thì tìm kiếm theo trang đang lưu trong Model
			doSearch(@Model.Page);
			showCart();
		});
		function doSearch(page) {
			var url = $("#formSearchProduct").prop("action");
			var type = $("#formSearchProduct").prop("method");
			var postData = $("#formSearchProduct").serializeArray();
			postData.push({ "name": "page", "value": page });

			$.ajax({
				url: url,
				type: type,
				data: postData,
				error: function () {
					alert("Your request is not valid!");
				},
				success: function (data) {
					$("#searchResult").html(data);
				}
			});
			return;
		}

		function showCart() {
			$.ajax({
				url: "/Admin/Order/ShowCart",
				type: "GET",
				error: function () {
					alert("Your request is not valid!");
				},
				success: function (data) {
					$("#cartContent").html(data);
				}
			});
		}

		function addToCart(frm) {
			var url = $(frm).prop("action");
			var type = $(frm).prop("method");
			var postData = $(frm).serializeArray();

			$.ajax({
				url: url,
				type: type,
				data: postData,
				error: function () {
					alert("Your request is not valid!");
				},
				success: function (data) {
					if (data == "") {
						showCart();
					} else {
						alert(data);
					}
				}
			});
			return;
		}

		function removeFromCart(id) {
			$.ajax({
				url: "/Admin/Order/RemoveFromCart/" + id,
				type: "GET",
				error: function () {
					alert("Your request is not valid!");
				},
				success: function (data) {
					showCart();
				}
			});
		}

		function clearCart() {
			$.ajax({
				url: "/Admin/Order/ClearCart",
				type: "GET",
				error: function () {
					alert("Your request is not valid!");
				},
				success: function (data) {
					showCart();
				}
			});
		}

	</script>
}